{% extends "base.html" %} {% block css %} {% load static %}
<link rel="stylesheet" href="{% static 'login/library/css/style.css' %}" />
<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
{% endblock %} {% block main %}
<div class="scontainer row justify-center-center">
  <div class="img col-md-6">
    <img src="{% static 'signup/image/svg/side.svg' %}" alt="" />
  </div>
  <div class="login-container col-md-6">
    <form method="post">
      {% csrf_token %}
      <img
        src="{% static 'signup/image/svg/avatar.svg' %}"
        alt=""
        class="avatar"
      />
      <h2>Welcome</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-signature"></i>
        </div>
        <div>
          <h5>First Name</h5>
          <input name="first_name" type="text" class="input" required />
        </div>
      </div>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-signature"></i>
        </div>
        <div>
          <h5>Last Name</h5>
          <input name="last_name" type="text" class="input" required />
        </div>
      </div>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-envelope"></i>
        </div>
        <div>
          <h5>Email</h5>
          <input name="email" type="email" class="input" required />
        </div>
      </div>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-birthday-cake"></i>
        </div>
        <div>
          <h5>Birth Date</h5>
          <input
            name="birth-date"
            id="date-picker"
            type="date"
            class="input"
            required
          />
        </div>
      </div>
      <div class="input-div two">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div>
          <h5>Username</h5>
          <input name="username" type="text" class="input" required />
        </div>
      </div>
      <div class="input-div two">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div>
          <h5>Password</h5>
          <input name="password1" type="password" class="input" required />
        </div>
      </div>
      <div class="input-div two">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div>
          <h5>Confirm Password</h5>
          <input name="password2" type="password" class="input" required />
        </div>
      </div>
      <a href="../login">Already Have An Account?</a>
      <input type="submit" class="btn" />
    </form>
  </div>
</div>

<script src="{% static 'signup/library/js/function.js' %}"></script>
{% endblock %}
