{% extends "base.html" %}
{% block css%}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/basic.min.css" integrity="sha512-MeagJSJBgWB9n+Sggsr/vKMRFJWs+OUphiDV7TJiYu+TNQD9RtVJaPDYP8hA/PAjwRnkdvU+NsTncYTKlltgiw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.css" integrity="sha512-jU/7UFiaW5UBGODEopEqnbIAHOI8fO6T99m7Tsmqs2gkdujByJfkCbbfPSN4Wlqlb9TGnsuC0YgUgWkRBK7B9A==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone-amd-module.min.js" integrity="sha512-llCHNP2CQS+o3EUK2QFehPlOngm8Oa7vkvdUpEFN71dVOf3yAj9yMoPdS5aYRTy8AEdVtqUBIsVThzUSggT0LQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js" integrity="sha512-VQQXLthlZQO00P+uEu4mJ4G4OAgqTtKG1hri56kQY1DtdLeIqhKUp9W/lllDDu3uN3SnUNawpW7lBda8+dSi7w==" crossorigin="anonymous"></script>

{% endblock %}
{% block main %}
    <section class="body container">
        <div class="details">
            <div class="row">
                <div class="col-md-6 p-3">
                    <div class="h6">
                        Upload photos For your:
                        <strong>{{ product.name }}</strong>

                    </div>
                </div>
            </div>
        </div>
        <form action="../uploads/" method="post" class="dropzone">
            {% csrf_token %}

             <input name="id" type="hidden" value="{{ id }}" />
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>

    </section>
<script>
    var myDropzone = new Dropzone(".dropzone", {
        maxFiles: 2,
        maxFilesize: 3,
        acceptedFiles: ".jpg, .png",

      });

</script>
{% endblock %}

{% block js %}
{% endblock %}
